.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

