.edit-head {
  margin-top: 10px
}
.edit-ct {
  margin-top: 20px
  padding: 20px
  background-color: #fff
}
.edit-ct .el-form {
  max-width 1000px
}
.form-item-tree .el-form-item__content {
  line-height initial
}