.table-head {
  .sch {
    float: left
    display: inline-block;
    margin-left: 30px
  }
  .new-btn {
    margin-top: 10px
    float right
  }
}
.sch input.el-input__inner {
  background-color: #fff
}
.table-form-inline .el-form-item {
  margin-top: 10px
  margin-bottom: 0
}
.table-form-inline .el-form-item__content .el-select,
.table-form-inline .el-form-item__content .el-input {
  width: 140px
}
.table {
  margin-top: 15px
  box-shadow 0 0 3px rgba(0, 0, 0, .1)
}
.row-img img {
  height: 3em
}
.row-manage .el-button--text {
  padding-left: 10px
  padding-right: 10px
}
.row-manage .el-button--text:nth-child(1):hover {
  color: blue-hover
}
.row-manage .el-button--text:nth-child(2) {
  color: #999
}
.row-manage .el-button--text:nth-child(2):hover {
  color: red
}
.pagination-ct {
  margin-top: 20px
  text-align: center
}
.pagination-ct .el-pagination.is-background .el-pager li {
  background-color: #fefefe
}